@keyframes wider {
  0% {
    left: 10vw;
    width: 70vw;
    top: 30vh;
    opacity: 0;
  }
  100% {
    width: 80vw;
    top: 20vh;
    left: 2vw;
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    left: -10vw;
    opacity: 0;
  }
  10% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.8;
  }
  90% {
    opacity: 0.8;
  }
  100% {
    left: 5vw;
    opacity: 0;
  }
}

@keyframes tag1 {
  0% {
    transform: rotate(0deg);
    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg);
    opacity: 1;
  }
}
@keyframes tag2 {
  0% {
    transform: rotate(0deg);

    opacity: 0;
  }
  1% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg);

    opacity: 1;
  }
}

@keyframes tag1Reverse {
  0% {
    transform: rotate(45deg);
    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}

@keyframes tag2Reverse {
  0% {
    transform: rotate(-45deg);

    opacity: 1;
  }
  99% {
    opacity: 1;
  }
  100% {
    transform: rotate(0deg);
    opacity: 0;
  }
}
@keyframes tagPress {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  60% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    transform: rotate(-250deg);
  }
}
@keyframes tagBack {
  0% {
    opacity: 0;
    transform: rotate(-250deg);
  }
  60% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes menuShow {
  0% {
    left: -30vw;
    opacity: 0;
  }
  100% {
    left: 0vw;
    opacity: 1;
  }
}
@keyframes menuHide {
  0% {
    left: 0vw;
    opacity: 1;
  }
  100% {
    left: -30vw;
    opacity: 0;
  }
}

@keyframes logoSlide {
  0% {
    opacity: 0;
    left: -35vw;
  }
  100% {
    opacity: 1;
    left: 5vw;
  }
}

@keyframes quoteAppear {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes Appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes dogWider {
  0% {
    opacity: 0.2;
    width: 45vw;
    height: 70vh;
    left: 55vw;
    top: 35vh;
  }
  100% {
    opacity: 0.7;
    width: 55vw;
    height: 80vh;
    left: 45vw;
    top: 25vh;
  }
}

@keyframes dogThinner {
  0% {
    opacity: 1;
    width: 100vw;
    height: 100vh;
    left: 30vw;
    top: 0vh;
  }
  100% {
    opacity: 0.2;
    width: 90vw;
    height: 90vh;
    left: 40vw;
    top: 5vh;
  }
}

html {
  max-width: 100vw;
}
body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: absolute;
  width: 100vw;
  overflow-x: hidden;
}

#container1 {
  position: absolute;
  top: 0vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgb(85, 113, 116), rgb(0, 0, 0, 0));
  max-width: 100vw;
}

#logo {
  position: absolute;
  top: 5vh;
  left: 5vw;
  width: 30vw;
  min-width: 150px;
  z-index: 2;
  animation: logoSlide 1s linear forwards;
  animation-delay: 0.5s;
  opacity: 0;
}

#tag {
  position: absolute;
  top: 6vh;
  left: 85vw;
  width: 6vw;
  min-width: 40px;
  z-index: 3;
}

#tag1 {
  position: absolute;
  top: 6.1vh;
  left: 85vw;
  width: 5.9vw;
  min-width: 40px;
  z-index: 1;
  opacity: 0;
}

#tag2 {
  position: absolute;
  top: 6.1vh;
  left: 85vw;
  width: 5.9vw;
  min-width: 40px;
  z-index: 1;
  opacity: 0;
}
#quote {
  position: absolute;
  top: 55vh;
  left: 10vw;
  width: 30vw;
  min-width: 250px;
  z-index: 2;
  animation: quoteAppear 5s linear forwards;
  animation-delay: 3s;
  opacity: 0;
}

#city {
  position: absolute;
  top: 25vh;
  left: 2vw;
  width: 70vw;
  min-width: 350px;
  height: 160vh;
}

#city2 {
  position: absolute;
  top: 5vh;
  left: -10vw;
  width: 50vw;
  min-width: 200px;
  height: 160vh;
  opacity: 0;
  animation: moveRight 30s linear infinite;
}

#menuDiv {
  position: fixed;
  top: 0vh;
  left: 0vw;
  height: 100vh;
  width: 30vw;
  background-color: rgb(53, 67, 77);
  opacity: 0;
  z-index: 4;
}
#menu {
  position: fixed;
  top: 10vh;
  left: 5vw;
  width: 15vw;
}

#home {
  position: fixed;
  top: 35vh;
  left: 5vw;
  width: 10.5vw;
}
#about {
  position: fixed;
  top: 50vh;
  left: 5vw;
  width: 11vw;
}
#projects {
  position: fixed;
  top: 65vh;
  left: 5vw;
  width: 14.2vw;
}
#contact {
  position: fixed;
  top: 80vh;
  left: 5vw;
  width: 13.6vw;
}

#container2 {
  position: absolute;
  top: 100vh;
  left: 0vw;
  width: 100vw;
  height: 100vh;

  background: linear-gradient(
    rgb(0, 0, 0, 0),
    rgb(233, 231, 231),
    rgb(241, 239, 239),
    rgb(248, 245, 245),
    rgb(236, 233, 233),
    rgb(236, 233, 233)
  );
  overflow-x: hidden;
}

#dogImg {
  position: absolute;
  top: 0vh;
  left: 40vw;
  width: 50vw;
  height: 0vh;
  opacity: 0;
  overflow: hidden;
}

#powered {
  position: absolute;
  top: 25vh;
  left: 6vw;
  width: 30vw;
  z-index: 3;
  opacity: 0;
}

#htmlImg {
  position: absolute;
  top: 45vh;
  left: 0vw;
  width: 20vw;
  z-index: 3;
  opacity: 0;
}
#cssImg {
  position: absolute;
  top: 60vh;
  left: 0vw;
  width: 17vw;
  z-index: 3;
  opacity: 0;
}
#jsImg {
  position: absolute;
  top: 75vh;
  left: 0vw;
  width: 37vw;
  z-index: 3;
  opacity: 0;
}

#container3 {
  position: absolute;
  top: 200vh;
  left: 0vw;
  width: 100vw;
  height: 10vh;
  background-color: rgb(138, 136, 136);
  overflow-x: hidden;
}

#homeBottom {
  position: absolute;
  top: 3vh;
  left: 1vw;
  width: 8.5vw;
  min-width: 50px;
  z-index: 4;
}
#aboutBottom {
  position: absolute;
  top: 3vh;
  left: 14vw;
  width: 9.5vw;
  min-width: 63px;
  z-index: 4;
}
#projectsBottom {
  position: absolute;
  top: 3vh;
  left: 30vw;
  width: 12vw;
  min-width: 63px;
  z-index: 4;
}
#contactBottom {
  position: absolute;
  top: 3vh;
  left: 45vw;
  width: 12vw;
  min-width: 63px;
  z-index: 4;
}

@media (max-width: 3000px) {
  #container2 {
    position: absolute;
    top: 100vh;
    left: 0vw;
    width: 100vw;
    height: 100vh;

    background: linear-gradient(
      rgb(0, 0, 0, 0),
      rgb(233, 231, 231),
      rgb(241, 239, 239),
      rgb(248, 245, 245),
      rgb(236, 233, 233),
      rgb(236, 233, 233)
    );
    overflow-x: hidden;
  }
}

@media (max-width: 1100px) {
  #powered {
    position: absolute;
    top: 35vh;
    left: 6vw;
    width: 30vw;
    z-index: 3;
    opacity: 0;
  }

  #homeBottom {
    position: absolute;
    top: 3vh;
    left: 1vw;
    width: 8.5vw;
    min-width: 50px;
    z-index: 4;
  }
  #aboutBottom {
    position: absolute;
    top: 3vh;
    left: 26vw;
    width: 9.5vw;
    min-width: 53px;
    z-index: 4;
  }
  #projectsBottom {
    position: absolute;
    top: 3vh;
    left: 55vw;
    width: 12vw;
    min-width: 63px;
    z-index: 4;
  }
  #contactBottom {
    position: absolute;
    top: 3vh;
    left: 82vw;
    width: 12vw;
    min-width: 63px;
    z-index: 4;
  }

  @keyframes dogWider {
    0% {
      opacity: 0.2;
      width: 65vw;
      height: 40vh;
      left: 35vw;
      top: 50vh;
    }
    100% {
      opacity: 0.7;
      width: 100vw;
      height: 50vh;
      left: 0vw;
      top: 40vh;
    }
  }

  #container3 {
    position: absolute;
    top: 190vh;
    left: 0vw;
    width: 100vw;
    height: 10vh;
    background-color: rgb(138, 136, 136);
    overflow-x: hidden;
  }
}

@media (max-width: 500px) {
  #city {
    position: absolute;
    top: 25vh;
    left: 2vw;
    width: 70vw;
    min-width: 350px;
    height: 155vh;
  }

  #city2 {
    position: absolute;
    top: 5vh;
    left: -10vw;
    width: 50vw;
    min-width: 200px;
    height: 155vh;
    opacity: 0;
    animation: moveRight 30s linear infinite;
  }
  #powered {
    position: absolute;
    top: 25vh;
    left: 6vw;
    width: 30vw;
    z-index: 3;
    opacity: 0;
  }

  #htmlImg {
    position: absolute;
    top: 40vh;
    left: 0vw;
    width: 20vw;
    z-index: 3;
    opacity: 0;
  }
  #cssImg {
    position: absolute;
    top: 50vh;
    left: 0vw;
    width: 17vw;
    z-index: 3;
    opacity: 0;
  }
  #jsImg {
    position: absolute;
    top: 60vh;
    left: 0vw;
    width: 37vw;
    z-index: 3;
    opacity: 0;
  }

  #menu {
    position: fixed;
    top: 10vh;
    left: 5vw;
    width: 15vw;
    min-width: 80px;
  }
  #home {
    position: fixed;
    top: 30vh;
    left: 5vw;
    width: 10vw;
    min-width: 68px;
  }
  #about {
    position: fixed;
    top: 40vh;
    left: 5vw;
    width: 10vw;
    min-width: 70px;
  }
  #projects {
    position: fixed;
    top: 50vh;
    left: 5vw;
    width: 14vw;
    min-width: 90px;
  }
  #contact {
    position: fixed;
    top: 60vh;
    left: 5vw;
    width: 14vw;
    min-width: 90px;
  }
  #homeBottom {
    position: absolute;
    top: 3vh;
    left: 1vw;
    width: 8.5vw;
    min-width: 50px;
    z-index: 4;
  }
  #aboutBottom {
    position: absolute;
    top: 3vh;
    left: 26vw;
    width: 9.5vw;
    min-width: 53px;
    z-index: 4;
  }
  #projectsBottom {
    position: absolute;
    top: 3vh;
    left: 55vw;
    width: 12vw;
    min-width: 63px;
    z-index: 4;
  }
  #contactBottom {
    position: absolute;
    top: 3vh;
    left: 82vw;
    width: 12vw;
    min-width: 63px;
    z-index: 4;
  }

  #container2 {
    position: absolute;
    top: 100vh;
    left: 0vw;
    width: 100vw;
    height: 80vh;

    background: linear-gradient(
      rgb(0, 0, 0, 0),
      rgb(233, 231, 231),
      rgb(185, 179, 179),
      rgb(189, 182, 182),
      rgb(143, 139, 139),
      rgb(236, 233, 233)
    );
    overflow-x: hidden;
  }

  #container3 {
    position: absolute;
    top: 170vh;
    left: 0vw;
    width: 100vw;
    height: 10vh;
    background-color: rgb(138, 136, 136);
    overflow-x: hidden;
  }

  @keyframes dogWider {
    0% {
      opacity: 0.2;
      width: 65vw;
      height: 30vh;
      left: 35vw;
      top: 40vh;
    }
    100% {
      opacity: 0.7;
      width: 100vw;
      height: 40vh;
      left: 0vw;
      top: 30vh;
    }
  }
}
